* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

.red {background:rgb(223 70 65);}
.yellow{background:rgb(235 185 86);}
.green{background: rgb(46 145 140);}
.blue{background: rgb(23 81 117);}

body {
    background-color: rgb(255 252 236);
    color: #341d0d;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'SANJUGotgam';
}

.border {
    width: 100%;
    display: flex;
    height: 5vh;
}
.border > div {
    flex-basis: 25%;
}

.reverse {
    position: fixed;
    bottom:0;
    flex-direction: row-reverse;
}

header {    
    height: 20vh;
}
header img {
    width: 300px;
    position: relative;
    top: -25px;
    overflow: hidden;
}
main {
    height: 70vh;
    overflow: hidden;
}
main > p{
    position: relative;
    letter-spacing:5px;
    opacity: 0;
}    
main :nth-child(1){
    animation-delay: 0.4s;
}
main :nth-child(2){
    animation-delay: 1.4s;
}
main :nth-child(3){
    animation-delay: 2.4s;
}
main :nth-child(4){
    animation-delay: 3.3s;
}
main :nth-child(5){
    animation-delay: 4.3s;
    letter-spacing:0px;
}

main > img {
    position: relative;
    width : 250px;
    padding-top: 10px;
}

/* animation */
.animation-image {    
    animation-name: big;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
.animation-text {
    animation-name: move-text;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.animation-image-move {
    animation-name: move-image;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.animation-image-open {
    animation-name: open-image;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0.2s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes big {
    from {
        width: 300px;
        top: -25px;
    }
    to {
        width: 330px;
        top: -40px;
    }
}

@keyframes move-text {
    from {
        top: 100px;
        opacity: 0;
        
    }
    to{
        top: 0px;
        opacity: 1;
    }
}

@keyframes move-image {
    from {
        transform: rotate(0deg);
        left: 500px;
    }

    to {
        transform: rotate(720deg);
        left:0px
    }
}
@keyframes open-image {
    from {
        width: 250px;
        top: 0%;
    }
    to {
        width: 260px;
        top: -10px;
    }
}

/* font */
@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}