* {
    padding: 0;
    margin: 0;
}

html,body {
    height: 100%;
}

.red {background:rgb(223 70 65);}
.yellow{background:rgb(235 185 86);}
.green{background: rgb(46 145 140);}
.blue{background: rgb(23 81 117);}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255 252 236);
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

.border {
    width: 100%;
    display: flex;
}
.border > div {
    height: 20px;
    flex-basis: 35%;
}

.reverse {
    flex-direction: row-reverse;
}

header {    
}

main {
    margin-top: 300px;
    flex-grow: 1;
}    

button{
    width: 300px;
}

.hide {
    display: none;
}

.animation {
    animation-name: big;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}
/* animation */
@keyframes big {
    from {
      width: 100px;
    }
    to {
      width: 200px;
    }
}


